html, body {
    margin: 0;
    height: 100%;
}

body {
    /* background-image:url('../Images/backgroundp.png');
    height: 100vh; */
    /* background-repeat: no-repeat;
    background-size: cover; */
}

.splash-container{
    background-image:url('../Images/backgroundp.png');
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.splash-logo img{
    width: 125%;
    padding-left: 0em;
    padding-top: 7em;
}

.splash {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    border-left: 0em;
  }

.outline-wrapper {
    position: relative;
    width: 100%;
    aspect-ratio: 3 / 3;
    margin: 0 auto;
    flex-shrink: 0;
    margin-top: 7em;
  }

.outline-image {
    display: block;
    width: 100%;
  }

.buttons {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }

.footers{
    /* width: 100% ; */
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    font-size: x-large;
    flex-grow: 1;
    padding-bottom: 0.5em;
}

.footer{
    text-align: center;
}

.rightside-footer{
    width: 50%;
    font-size: 2vw;
    display: flex;
    justify-content: space-around;
}

/* .button1, .button2, .button3, .footers {
    padding-top: 6em;
}

.button1, .button2, .button3 {
    display: flex;
    justify-content: center;
}
*/
.button1 button, .button2 button, .button3 button {
    height: 8vh;
    width: 13vw;
    border-radius: 4vw;
    font-size: 2.5vw;
    text-transform: uppercase;
}
