/* TODO Add site wide styles */

* {
    font-family: 'Nanum Pen Script', cursive;
}

#root{
    display: flex;
    height: 100%;
}

body{
    margin: 0vh;
}

::-webkit-scrollbar {
    width: 8px;
    background-color: transparent;
  }
