.note-container{
    width: 20%;
    background-color: bisque;
    overflow-y: scroll;
}

.header{
    text-align: center;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.note-card{
    border-top: solid darkgray;
    border-right: solid darkgrey;
    text-align: left;
    padding-bottom: 1rem;
    padding-left: 1rem;
    word-break: break-word;
}

.note-card:hover {
    background-color: aliceblue;
    cursor: pointer;
}
