.note-header{
    display: flex;
    justify-content: space-between;
}

.notes-title{
    width: 99%;
    font-size: xx-large;
    margin-top: 1rem;
    margin-bottom: 1rem;
    overflow-x: scroll;
}

.note-content{
    height: 50vh;
    margin-top: 1vh;
}
.notes-body{
    width: 99%;
    height: 100%;
    overflow-y: scroll;
}

.notes-title{
    margin-left: 0rem;
}

.notebookdrop{
    color: black;
}

.select2{
    margin-left: 1vw;
    font-size: large;
}

.second button{
    font-size: medium;
}
