.note-container{
    width: 20%;
    background-color: aliceblue;
    overflow-y: scroll;
    border-right: dotted darkgray;
}

.header{
    text-align: center;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.note-card{
    border-top: dotted darkgray;
    text-align: left;
    padding-bottom: 1rem;
    padding-left: 1rem;
    word-break: break-word;
}

.note-card:hover {
    background-color: darkgrey;
    cursor: pointer;
}

::-webkit-scrollbar {
    width: 8px;
    background-color: transparent;
  }

.no-notes-message{
    display: flex;
    justify-content: center;
    font-size: x-large;
    margin-top: 15rem;
}
