.notebook-container{
    margin: 3rem;
    padding: 4rem;
    font-size: larger;
    width: 50%;
    background-color: aliceblue;
    background-image: url('../Images/cat-back.png');
    background-size: contain;
    border-radius: 1em;
    border: dotted darkgrey
}
.sub-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: larger;
}

table{
    width: 100%;
}

td, th{
    padding: 9px;
    text-align: left;
}

.no-notebooks{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-top: 5rem;
    font-size: x-large;
    color: brown;
}
