.notebook-container{
    margin: 3rem;
    padding-left: 4rem;
    padding-right: 4rem;
    padding-top: 6rem;
    font-size: larger;
    width: 50%;
    background-color: aliceblue;
}
.sub-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: larger;
}

table{
    width: 100%;
}

td, th{
    padding: 9px;
    text-align: left;
}
